* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h3, a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a, .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	border: 1px solid #a2a2a2;
	background-color: gray;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
      .header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.container{
    margin-top: 60px;
    border: 1px solid black;
    box-shadow: 3px 3px 6px gray;
}

.parent {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
        grid-area: 2 / 2 / 3 / 3; 
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
}

.div2 {         
        grid-area: 2 / 3 / 3 / 4; 
        margin-top: 200px;
        width: 50vw;
        padding-left: 40px;
     
}

/* .navbar .navbar-fixed-top{
    position: fixed;
    background-color: black;
    display: flex;
    box-shadow: 2px 2px 4px black;
}

.icon{
    padding-right: 40px;
}
  
  
.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
} 
  
.first-txt {
    position: relative;
    top: 0px;
    left: 0px;
}
  
.second-txt {
    position: absolute;
    bottom: 10%;
    left: 45%;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
}
  
.div2 { 
    /* display: flex; */
    /* grid-area: 1 / 2 / 2 / 2;
    text-align: left;
    color: white; */
/* } */
/*   
#intro{
    display: flex;
    width: 410px;
    height: 410px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px gray;
    border-radius: 50%;
    top: 60px;
    margin-top: 60px;
    margin-left: 80px;
}
  
.about-me{
    text-align:left;
    margin-left: 40px;
}
  
.work-icon{
    text-align: center;
    margin-top: -23px;
    margin-left: 30px;
}
  
  
.intro-hello{
    position: relative;
    font-size:45px;
    letter-spacing: 0px;
    text-transform: capitalize;
    text-align: center;
    text-align: left;
} */
  
/* .work{
    color: gray;
    font-size: 10px;
} */

/* .column {
    margin-top: 60px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
   */
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  }  */