.navbar{
    position: fixed;
    box-shadow: 3px 3px 6px black;
}


.icon{
    padding-right: 30px;
    padding-left: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    width: 60vw;
    box-shadow: 4px 4px 8px;
    margin-top: 150px;
    margin-left: 250px;
    background-color: white;
}



#pic{
    width: 300px;
    height: 360px;
    box-shadow: 3px 3px 6px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.address{
    font-size: 30px;
    /* padding-left: 40px; */
    list-style-type: none;
}

.title{
    font-size: 60px;
    list-style-type: none;
    font-family: 'Cardo', serif;
    color: #7f0000;
    background-color: #818589;
    width: 30vw;
    border: 1px solid black;
}

.card-info{
    text-align: left;
    /* margin-top: 40px; */

}

.job{
    font-size: 20px;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    color: 	black;
    font-family: 'Indie Flower', cursive;
}

.phone, .email{
    font-size: 20px;
    text-align: left;
    font-family: 'Cardo', serif;
    color: 	#7f0000;
}

.city{
    font-size: 20px;
    text-align: left;
    font-family: 'Cardo', serif;
    color: 	#7f0000;
}
